# Ansible reads this file automatically when you run commands
# It saves you from repeating flags like -i inventory/hosts.yml on every commands.

[defaults]
# where ou inventory (list of hosts) lives, relative to this file
inventory = inventory/hosts.yml

# Where the roles live so playbooks can find them by name
roles_path = roles

# Let Ansible pick the right python on the machine without warning noise.
interpreter_python = auto_silent

# Task results prints as human readable
result_format = yaml

# No .retry files after a failed run
retry_files_enabled = False

# Keep SSH host-key checking ON
host_key_checking = True

vault_password_file = .vault_pass

[privilege_escalation]
# Many provisioning task requires admin access. This let them use the sudo via the user defined in the inventory
# become = True
become_method = sudo

[ssh_connection]
# Speeds up repeated task by reusing on SSH connection
pipelining = True